.container{
   width: 100%;
   display: flex;
   background-color: #999999;
   height: 180vh;
   
}
.content_page{
   padding-left: 20px;
   margin-top: 40px;
   display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
}
.chart-pie{
   margin-top: 7px;
   width: 30%;
   padding: 0px;
}
.chart-bar{
   width: 70%;
   padding-left: 10px;
}
.progress-bar{
   width: 100%;
   align-items: center;
   margin: 0 auto;
   justify-content: center;
   align-content: center;
   display: flex;
   margin-top: -70px;
}
.box{
   width: 28%;
   height: 200px;
  background-color: transparent;
   margin: 0 auto;
   border-radius: 23px;
   padding-left: 23px;
}
.bt{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

@media (max-width:480px) {
   .chart-bar{
      width: 100%;
   }
   .container{
      height: 100%;
   }
   .chart-pie{
      width: 100%;
   }
   .progress-bar{
      width: 100%;
   }
   .box{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -25px;
      margin-bottom: 10px;
   }
   
}