:root{
  --cor-bege-base: #e9c89f;
  --cor-greybase1: #cecdc9;
  --cor-bluebase1: #002a43;
  --cor-bluebase2: #57c1eb;
  --color-greybase2: #717c82;
}

*,::after
,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: #717c82;
    line-height: 1.5;
    font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f2f2f2;
}
img:not(.logo){
  width: 100%;
}
img{
  display: block;
}
h1,
h2,
h3,
h4{
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1{
  font-size: 3rem;
  
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 0.875rem;
}
p{
  margin-bottom: 1.25rem;
}

@media screen and (min-width:800px) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: 1rem;
  }
  body{
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4{
    line-height: 1;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto',
    sans-serif;
}

