
:root{
    --cor-bege-base: #e9c89f;
    --cor-greybase1: #cecdc9;
    --cor-bluebase1: #002a43;
    --cor-bluebase2: #57c1eb;
    --color-greybase2: #717c82;
  }

  .header{
min-height: 100vh;
  }

.banner{

min-height: 50vh;
display: grid;
top: 20%;
left: 20%;
place-items: center;
text-align: center;
margin-bottom: 70px;
padding: 0 auto;
}

.banner h1{
   color: #f2f2f2;
   text-transform: uppercase;
    margin-top: 100px; 
}
.banner p {
    color: #f2f2f2;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    
}

.btn {
    justify-content: center;
   align-items: center;
    padding: 3px 20px 3px;
    color:#f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 3px;
    background: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: #002a43;
    color: #f2f2f2;
    border-radius: 6px;
}
