*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: aqua;
  flex-direction: column;
}

.slider_wraper{
width: 60%;
overflow: hidden;
padding: 20px;
display: flex;
}
.inner_carrousel{
  display: inline-flex;
  }
.card{
width: 300px;
background-color: blue;
backdrop-filter: blur(20px);
padding: 30px 20px;
pointer-events: none;
}
h3{
  font-size: 4vw;
  line-height: 1;
  margin-bottom: 2vw;
  color: black;
  position: relative;
  display: inline-block;
  
}

&:after{
content: "";
width: 1.5vw;
height: 4px;
left: 5vw;
bottom: 5px;
position: absolute;
}

.card_header{
  margin-bottom:16px ;
}
.title{
  font-size: 1vw;
  font-weight: bold;
  color: black;
}

.card_img{
  margin-bottom: 2vw;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width:41) {
  .slidewraper{
    width: 100%;
   }
h2{
  font-size: 10vw;
  margin-bottom: 8vw;

}
&:after{
width: 6vw;
}
.title{
  font-size: 6vw;
}
.card_img{
  width: 95%;
}
}