.grafico{
align-content: center;
justify-content: center;
width: 850px;
height: 380px;
background-color:#adadad;
border-radius: 23px;
background: #ffffff;
box-shadow:  15px 15px 39px #535353,
             -15px -15px 39px #b6b6b6;
}