.grafico{
margin: 0 auto;
align-content: center;
justify-content: center;
width: 850px;
height: 380px;
background-color:#e0e0e0;
margin-top: -200px;
border-radius: 23px;
background: #ffffff;
box-shadow:  15px 15px 39px #5a5a5a,
             -15px -15px 39px #ffffff;
}