.div{
    background-color: #f2f2f2;
    width: 100%;
    max-width: 900px;
    margin: 0 auto ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 0;
}