
.carrousel{
  background-color: darksalmon;
  height: 500px;
  position:relative
}
h5{
  color: #fff;
}
p{
  color: #fff;
}
.div_item{

  height: 450px;
  margin-top: 30px;
}
.real_img{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border-radius: 200px;
  
}

