.div{
    background-color: #f2f2f2;
    width: 100%;
    max-width: 900px;
    margin: 0 auto ;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 0;
}
.circle{
display: flex;
  background-color: blueviolet;
  height: 180px;
  width: 180px;
  border-radius: 100px;
  
  
}