.navbar{
display: flex;
background-color: #f2f2f2;
box-shadow: 0 5px 15px #00000038;
height: 80px;
padding: 10px;
justify-content: center;
}
.ul{
   display: flex;
    align-items: center;
    list-style: none;
}
.li{
margin-right: 30px;

}
li a{
    
    color: #222;
    text-decoration: none;
}
li a:hover{
    color: #e9a629;
    transition: all 0.3s linear;
}
.logo{
  padding: 15px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}