.chart_pie{
width: 350px;
height: 305px;
background-color: #e0e0e0;
border-radius: 23px;
background: #ffffff;
box-shadow:  15px 15px 39px #5a5a5a,
             -15px -15px 39px #b6b6b6;
}
@media (max-width:480px){

}